body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
}

/*HEADER*/

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h1 {
	padding-bottom: 20px;
  text-transform: uppercase;
  text-shadow:  0px 3px 3px rgba(47, 54, 64, 0.8),
                0px 6px 6px rgba(53, 59, 72, 0.5),
                0px 12px 12px rgba(113, 128, 147, 0.2) ;
}

/*NAVBAR*/
.navbar {
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 800px;
}

/*SHOWCASE*/
.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ecf0f1;
  height: 750px;
  text-shadow: 1.5px 1.5px 1.5px #333333;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.jumbo-main, .jumbo-portfolio, .jumbo-mail {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbo-main, .jumbo-portfolio, .jumbo-mail {
  background-image: url("../img/laptop-overlay.jpg");
}

.jumbo-portfolio {
  background-image: url("../img/portfolio-graffiti-overlay.jpg");
}


.jumbo-mail {
  background-image: url("../img/mail-overlay.jpg");
}

.section-padding {
	padding: 100px 0;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.profilepic img {
  border-radius: 50%;
  width: 300px!important;
}

.profilepic {
  text-align: center;
  padding-bottom: 30px;
}

.col-md-4,
.col-md-8 {
  margin: 0 0 30px;
}

.col-sm-6 {
  padding: 20px;
}

/*BUTTON*/
.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  color: #ecf0f1;
  font-size: 1.75rem;
  text-shadow: none;
  background-color: #2980b9;
  padding: 15px 25px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #16a085;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

/*FORM*/
._form_121 {
	padding: 50px 0 100px 0;
}

button {
	background-color: #2980b9!important;
}


/*FOOTER*/
footer {
  font-size: 12px;
  padding: 20px 0;
  height: 150px;
  background-color: #ecf0f1;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.fa-envelope, .fa-github, .fa-codepen, .fa-twitter {
  font-size: 4rem;
}

.fab, .fas {
  padding-right: 10px;
}

.fa-twitter {
  padding-right: 0;
}
