/*Media Queries*/
@media screen and (min-width:1250px) {
	#container {
		width: 1150px;
		margin: auto;
	}

	.sample-work {
		margin: 10px auto;
	}
}

@media screen and (min-width:851px) {
	.sample-work {
		margin: 15px auto;
	}

	.sample-work p {
		margin: 10px auto;
	}
}

@media screen and (max-width:850px) {
	.sample-work {
		max-width: 46%;
		margin: 15px auto;
		font-size: 11px;
	}
}

@media screen and (max-width:600px) {
	#main-img {
		margin: 0;
	}

	.sample-work {
		max-width: 100%;
		margin: 10px 0;
	}
}

@media screen and (max-width:450px) {
	#main-img {
		margin: 0;
	}

	#logo {
		width: 75px;
		padding: 5px 0 0 0;
	}

	#site-name {
		font-size: 12px;
		padding: 15px 10px 0 0;
	}
}