
img, embed, object, video {
	max-width: 100%;
}

/*Header Elements*/
#logo {
	width: 100px;
	float:left;
}

#site-name {
	float: right;
	text-align: right;
	color: #2d3c49;
	font-family: 'Raleway', sans-serif;
	line-height: .5em;
	padding: 15px 20px;
}

#site-name h3 {
	color: #7d97ad;
}

/*Body Elements*/
#main-img, #feature-heading {
	clear: both;
	margin: 20px;
}

#featured-work {
	text-align: center;
}

#feature-heading {
	padding: 30px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #2d3c49;
}

#collection {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

/*Box Element for each Project*/
.sample-work {
	background-color: #333;
	border: 1px solid #cecece;
	border-radius: 5px;
	color: #fff;
	max-width: 29%;
}

.sample-work, .sample-work  a, .sample-work a:visited, .sample-work a:hover {
	color: #fff;
	text-decoration: none;
	line-height: .75em;
}

.sample-work h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.sample-work p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding-bottom: 5px;
}

#site-footer {
	background-color: #222;
	font-family: Helvetica, Arial;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 75px;
}