
img, embed, object, video {
	max-width: 100%;
}

hr {
	color: #7d97ad;
}

/*Header Elements*/
#logo {
	width: 100px;
	float:left;
}

#site_name {
	float: right;
	text-align: right;
	color: #2d3c49;
	font-family: Helvetica, Arial;
	line-height: .5em;
	padding: 15px 20px;
}

#site_name h3 {
	color: #7d97ad;
}


/*Body Elements*/
#main_img, #feature_heading {
	margin: 15px;
}

#feature_heading {
	padding: 30px 0 0 0;
	text-align: center;
	font-family: Helvetica, Arial;
	color: #2d3c49;
}

#collection {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

/*Box Element for each Project*/
.sample_work {
	text-align: center;
	background-color: #333;
	border: 1px solid #cecece;
	border-radius: 5px;
	font-family: Helvetica, Arial;
	color: #fff;
	max-width: 29%;
}

.sample_work, .sample_work  a, .sample_work a:visited, .sample_work a:hover {
	color: #fff;
	text-decoration: none;
	line-height: .5em;
}

.sample_work h3 {
	font-size: 16px;
}

#site_footer {
	background-color: #222;
	font-family: Helvetica, Arial;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 75px;
}